<h3>List of Tasks:</h3>
<button type="button" (click)="additem = !additem">+ Add Task</button>
<button type="button" (click)="duplicate()">+ Duplicate all Tasks</button>
<div [hidden]="!additem">
  <form>
      <div>
        <label for="itemName">Task Name:</label>
        <input type="text" [(ngModel)]="itemName" name="itemName" required>
      </div>

      <div>
        <label for="itemDescription">Task Description:</label>
        <input type="text" [(ngModel)]="itemDescription" name="itemDescription" required>
      </div>
      <button (click)="addItem()">Submit</button>
  </form>
</div>
<div *ngFor='let item of items'>
  <input type='checkbox' (change)=delete(item.id)><button type="button" (click)="hideDes[item.id] = !hideDes[item.id]">{{item.name}}</button>
  <button type="button" routerLink="/edit/{{item.id}}">Edit Item</button>
  <div [hidden]="!hideDes[item.id]">
    <p>Task Description: {{item.description}}</p>
  </div>
</div>




<!-- <app-hero-search></app-hero-search> -->
